
.jumbotron{
    text-align: center;
    margin:0px 0px 75px 0px;
    padding-top: 40vh;
    
    background: 
      linear-gradient(
        rgba(0, 0, 0, 0.55), 
        rgba(0, 0, 0, 0.55)
      ),
      url('/static/mel_site/pictures/home_background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    color:rgb(230, 230, 230) !important;
    height: 90vh;
  }
  .jumbotron-meet{
    text-align: center;
    margin:0px 0px 75px 0px;
    padding-top: 30vh;
    
    background: 
      linear-gradient(
        rgba(0, 0, 0, 0.55), 
        rgba(0, 0, 0, 0.55)
      ),
      url('/static/mel_site/pictures/farm.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    color:rgb(230, 230, 230) !important;
    height: 90vh;
  }

  .jumbotron-join{
    text-align: center;
    margin:0px 0px 75px 0px;
    padding-top: 30vh;
    
    background: 
      linear-gradient(
        rgba(0, 0, 0, 0.55), 
        rgba(0, 0, 0, 0.55)
      ),
      url('/static/mel_site/pictures/join.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    color:rgb(230, 230, 230) !important;
    height: 90vh;
  }




.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.background-img{
    background: 
    linear-gradient(
      rgba(0, 0, 0, 0.75),
      rgba(0, 0, 0, 0.75)
    );
    background-size: cover;
    width: 100%;
    height: 100%;
    color: white;
    
    
}

a.carousel-control-next:hover {
    background-image: linear-gradient(to right, rgba(250, 0, 0, 0) 0px, rgba(0, 0, 0, 0.5) 100%);
}

a.carousel-control-prev:hover{
    background-image: linear-gradient(to left, rgba(250, 0, 0, 0) 0px,  rgba(0, 0, 0, 0.5) 100%);
}


.space{
    margin-top: 100px;
    margin-bottom: 100px;
}


.award-item{
    min-width: 100px;
    margin: 25px;
}

a {
    color: inherit;
    text-decoration: inherit;
    cursor: inherit;
  }

html, body{
    height: 100%;
}

.carousel{
    max-height: 90vh;
    max-width: 75vw;
    margin: auto;
}

.carousel-inner img{
    max-height: 90vh;
    max-width: 90vw;
    margin: auto;

    

}

.card-body img{
    max-width:500px;
    width: 20vw;

}





