{%  extends "mel_site/layout.html" %}
{% load static %}

{% block body %}

<div id="demo" class=" carousel slide text-center" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>

  <div class=""></div>
  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item  active">
      <img class ="" src="/static/mel_site/home_background.jpg" alt="Bobsleigh Start">
      <div class="carousel-caption">
          <div class="background-img">
              <h1 class="">MELISSA | <i>LOTHOLZ</i></h1>
              <h2 class="">SLEIGH <i>all</i> DAY</h2>
          </div>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/static/mel_site/hear_story.jpg" alt="Melissa holding plant">
      <div class="carousel-caption">
          <div class="background-img">
              <h1 class="">HEAR | <i>THE STORY</i></h1>
          </div>
      </div>

    </div>
    <div class="carousel-item">
      <img src="/static/mel_site/home_background.jpg" alt="Bobsleigh Start">
      <div class="carousel-caption">
          <div class="background-img">
              <h1 class="">MELISSA | <i>LOTHOLZ</i></h1>
              <h2 class="">SLEIGH <i>all</i> DAY</h2>
          </div>
      </div>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>

</div>

<div id="bio-summary" class="container space">

  <p class="text">
    Melissa has represented Canada on the world stage in the sport of bobsleigh since 2014. 
    Following her 2018 Olympic debut Melissa choose to take on a new challenge, transitioning from her role as brakeman to pilot, with hopes of working back up to the World Cup circuit and qualifying for the 2022 Olympics in this new position. For more information on current season scheduling and results please sign up for the #SLEIGHALLDAY newsletter or visit https://www.ibsf.org/en/races-results
  </p>

  <div class="card-deck">
    <div class="card bg-light award-item">
      <div class="card-body text-center">
        <h4 class="card-title">OLYMPICS</h4>
        <h3 class="card-text display-4">1</h3>
      </div>
    </div>
    <div class="card bg-light award-item">
      <div class="card-body text-center">
        <h4 class="card-title">CRSYTAL GLOBES</h4>
        <h3 class="card-text display-4">4</h3>
      </div>
    </div>
    <div class="card bg-light award-item">
      <div class="card-body text-center">
        <h4 class="card-title">WORLD CHAMPS MEDALS</h4>
        <h3 class="card-text display-4">2</h3>
      </div>
    </div>
    <div class="card bg-light award-item">
      <div class="card-body text-center">
        <h4 class="card-title">WORLD CUP MEDALS</h4>
        <h3 class="card-text display-4">17</h3>
      </div>
    </div>
  </div>

</div>

<div id="social-banner" class="text-center">
  <h2 class="display-4">
    <p>Lets Get Social!</p>
    <a href="https://www.facebook.com/mellotholz" target="_blank"><i class="fab fa-facebook-square"></i></a>
    <a href="https://www.instagram.com/mellotholz/?igshid=195jyjscp0t7" target="_blank"><i class="fab fa-instagram"></i></a>
    
    
  </h2>



</div>









{% endblock %}

{% block script %}
<link href="{% static 'mel_site/home_styles.css' %}" rel="stylesheet">
{% endblock %}