{%  extends "mel_site/layout.html" %}
{% load static %}

{% block body %}


<h1>Create New Section</h1>

<form action="{% url 'create' %}" method="post">
    {% csrf_token %}
    <div class="flex-item">
        <div>{{form.title.label_tag}}</div>
        <div>{{form.title}}</textarea></div>
        {{form.title.errors}}
    </div>
    <div class="flex-item">
        <div>{{form.body.label_tag}}</div>
        <div>{{form.body}}</textarea></div>
        {{form.body.errors}}
    </div>

    <input  type="submit" value="Create Section">
   


</form>


{% endblock %}

{% block script %}
<link href="{% static 'mel_site/home_styles.css' %}" rel="stylesheet">
{% endblock %}