{%  extends "mel_site/layout.html" %}
{% load static %}

{% block body %}


<div class="jumbotron jumbotron-fluid">
  <div class="text-center col-md-7 p-lg-5 mx-auto my-5">
    <h1 class="title">THE #SLEIGHALLDAY MOVEMENT</h1>
    <h6 class="lead1 ">Become part of the community and stay 
      up to date on events and result via our E-letter.
    </h6>
    <div class="padding">
      <button type="button" class="btn btn-light">NEWSLETTER SIGN-UP</button>
    </div>
    <div class="padding">
      <button type="button" class="btn btn-light">DONATE</button>
    </div>
    
      
  </div>
</div>



<div class="container text-center">
    {{content | safe}}
</div>
    

{% endblock %}

{% block script %}
<link href="{% static 'mel_site/meet_styles.css' %}" rel="stylesheet">
<link href="{% static 'mel_site/get-involved.css' %}" rel="stylesheet">
{% endblock %}