{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Melissa Lotholz</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'mel_site/fontawesome-free-5.14.0-web/css/all.css' %}" rel="stylesheet"> <!--load all styles -->
      
        <link href="{% static 'mel_site/styles.css' %}" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-parallax-js@5.5.1/dist/simpleParallax.min.js"></script>
        <script src="{% static 'mel_site/parallax.js' %}"></script>
        {% block script %}
        {% endblock %}
    </head>
    <body class="d-flex flex-column shrink-0">

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
            <a class="navbar-brand" href="{% url 'index' %}">MELISSA | <i>LOTHOLZ</i></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
          
            <div class="collapse navbar-collapse" id="navbarToggler">
              <ul class="navbar-nav  mr-auto ">

                <li class="nav-item">
                  <a class="nav-link" href="{% url 'meet' %}">Meet Melissa</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'speak' %}">Speaking & Events</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'involved' %}">Get Involved</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'store' %}">Store</a>
                </li>
                {% if user.is_authenticated %}
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'create' %}">Edit Pages</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                  </li>
                  {%endif%}
              </ul>
            </div>
          </nav>
        
        <div class="body">
            {% block body %}
            {% endblock %}
        </div>

        <footer class="footer mt-auto py-3">
          <div class="container">
            <span class="text-muted">Created by Landon Thys</span>
          </div>
        </footer>
    </body>
</html>