{%  extends "mel_site/layout.html" %}
{% load static %}

{% block body %}


<h1>Meet Melissa</h1>

<div class="image-container card-group">

    <div class="flex-card row">
        <div class="col-6 picture">
            <img src="/static/mel_site/tobaggan.jpg" alt="Melissa with a tobaggan" style="width:100%">
            <div class="caption">
              <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
            </div>
          </a>
        </div>
        <div class="col-6 text  ">
            Here is the textt hat will go beside the image
        </div>
    </div>

    <div class="flex-card row">
        <div class="col-6 picture">
            <img src="/static/mel_site/tobaggan.jpg" alt="Melissa with a tobaggan" style="width:100%">
            <div class="caption">
              <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
            </div>
          </a>
        </div>
        <div class="col-6 text">
            Here is the textt hat will go beside the image
        </div>
    </div>

    <div class="flex-card row">
        <div class="col-6 picture">
            <img src="/static/mel_site/tobaggan.jpg" alt="Melissa with a tobaggan" style="width:100%">
            <div class="caption">
              <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
            </div>
          </a>
        </div>
        <div class="col-6 text">
            Here is the textt hat will go beside the image
        </div>
    </div>

    <div class="flex-card row">
        <div class="col-6 picture">
            <img src="/static/mel_site/tobaggan.jpg" alt="Melissa with a tobaggan" style="width:100%">
            <div class="caption">
              <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
            </div>
          </a>
        </div>
        <div class="col-6 text">
            Here is the textt hat will go beside the image
        </div>
    </div>

</div>

{% endblock %}

{% block script %}
<link href="{% static 'mel_site/meet_styles.css' %}" rel="stylesheet">
{% endblock %}