{%  extends "mel_site/layout.html" %}
{% load static %}

{% block body %}



<div class="jumbotron jumbotron-fluid">
  <div class="text-center col-md-7 p-lg-5 mx-auto my-5">
    <h1 class="title">SPEAKING AND EVENTS</h1>
    <h2 class="title ">
      <i>Get Ready To Be Inspired</i>

    </h2>
    <div class="padding">
      <button type="button" class="btn btn-light" data-toggle="modal" data-target="#ContactModal">BOOK MELISSA TODAY</button>
    </div>
     
  </div>
</div>






<div class="container markdown">
    {{content | safe}}
</div>



<div class="container">
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="/static/mel_site/pictures/WECAref.png" alt="First slide">
        <div class="carousel-caption">
          <div class="p-2 bg-dark">
            <h5>Melissa is gifted at sharing her story. 
              She is sincere, humorous, and I couldn’t stop taking notes as 
              she shared so much wisdom. 
              Women were talking after the event about how Melissa 
              inspired them and they were so proud to have a local 
              girl achieve so much for Canada and women! Thank you.</h5>
            <p><i>Janelle Given, West Edmonton Christian Assembly</i></p>
          </div>

        </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="/static/mel_site/pictures/Shepcare.jpg" alt="Second slide">
        <div class="carousel-caption">
          <div class="p-2 bg-dark">
            <h5>Melissa was an integral part of our fundraising event. She is most engaging, connects really well with the audience, and contributed significantly to the positive atmosphere at the event.. prior to the Cake Auction she spent the afternoon visiting with many seniors who call our facility home, and doing a “Show & Tell” about her Bobsleigh career. The Seniors loved it!</h5>
            <p><i>Wilfred Golbec, Shepherd’s Care Foundation</i></p>
          </div>

        </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="/static/mel_site/pictures/AthabascaRef.jpg" alt="Third slide">
        <div class="carousel-caption">
          <div class="p-2 bg-dark">
            <h5>Melissa is energetic, positive, realistic, and a fantastic role model for young people! She personalized her presentations for our small rural school and was awesome at connecting with all ages. She had our younger elementary kids jumping up and down and repeating positive mantras. Her pictures and stories of her journey from small town Barrhead to the International Bobsled circuit and participation in the 2018 Winter Olympics captured our hearts.. I highly recommend Melissa as a speaker for schools of all ages.</h5>
            <p><i>Lorna Hiemstra, Principal, Fort Assiniboine School</i></p>
          </div>

        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>


{% endblock %}

{% block script %}


<link href="{% static 'mel_site/styles/speak-and-events.css' %}" rel="stylesheet">
<!--<link href="{% static 'mel_site/styles/formStyles.css' %}" rel="stylesheet">
-->
{% endblock %}